{% extends "base.html" %} {% block content %} {% load static %}

<script type="module" src="/static/js/model_dynamic.js"></script>
<button id="load-model">Click me</button>

<script>
    // Access specific properties within the data object
    var houseInfoStr = "{{ house_data.houseInfo|safe }}";
    var houseInfo = JSON.parse(houseInfoStr.replace(/'/g, '"'));
    var housesGeometryStr = "{{ house_data.housesGeometry|safe }}";
    var housesGeometry = JSON.parse(housesGeometryStr.replace(/'/g, '"'));
    var sitesGeometryStr = "{{ house_data.sitesGeometry|safe }}";
    var sitesGeometry = JSON.parse(sitesGeometryStr.replace(/'/g, '"'));
    var adjustableCasesStr = "{{ house_data.adjustableCases|safe }}";
    var adjustableCases = JSON.parse(
        adjustableCasesStr
            .replace(/'/g, '"')
            .replace(/None/g, "null")
            .replace(/True/g, "true")
            .replace(/False/g, "false")
    );
    var houseDataStr = "{{ house_data|safe }}";
    var houseData = JSON.parse(
        houseDataStr
            .replace(/'/g, '"')
            .replace(/None/g, "null")
            .replace(/True/g, "true")
            .replace(/False/g, "false")
    );

    var currentKey = "case1"; // initialize with a case1
    // loadModel(currentKey);

    document.addEventListener("DOMContentLoaded", function (event) {
        // Create a Map to store the data associated with each button
        let dataMap = new Map();
        // Get the keys from the dictionary
        const keys = Object.keys(adjustableCases);

        // Get the container where you want to add the buttons
        const buttonContainer = document.getElementById("button-container");

        // Iterate over the keys
        keys.forEach((key) => {
            // Create a new button element
            const btn = document.createElement("button");

            // Set the button's text to the case_name from the dictionary using the key
            btn.innerHTML = adjustableCases[key].case_name;
            btn.id = key;
            btn.classList.add("load-model-btn");

            // Add an event listener to the button
            btn.addEventListener("click", function () {
                // Store the data in the Map with the button's key as the map key
                dataMap.set(key, adjustableCases[key]);
                // Log or use the data
                console.log(dataMap.get(key));
                // Update the global variable
                currentKey = key;

                // Store the data in the Map with the button's key as the map key
                dataMap.set(key, adjustableCases[key]);

                // Log or use the data
                console.log(dataMap.get(key));

                // For debugging, you can also log the current value of currentKey
                console.log("Current key:", currentKey, typeof currentKey);

                // loadModel(currentKey); // replace newGeometries with the actual geometry data you want to load
            });
            // Append the button to the container
            buttonContainer.appendChild(btn);
        });
    });
</script>

<script src="{% static 'djangojs/jquery.json.min.js' %}"></script>

<script>
    var accessKeyID = "{{ AWS_ACCESS_KEY_ID }}";
    var secretAccessKey = "{{ AWS_SECRET_ACCESS_KEY }}";
</script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.103.0.min.js"></script>

<pre>{{ house_data }}</pre>
<pre>{{ house_data.adjustableCases.case1 }}</pre>
<h4>
    Interactive extensions for
    <span id="house-address">{{ house_data.houseInfo.address_string }}</span>
</h4>
<p>Text</p>

<!-- <div class="model-house-neighs-intro">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab"
                >Rear</a
            >
        </li>
        <li role="presentation">
            <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab"
                >Side</a
            >
        </li>
        <li role="presentation">
            <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab"
                >Loft</a
            >
        </li>
    </ul>
    <div class="legend">
        <div class="legend-item">
            <div class="stick-line green-line"></div>
            <div>PD</div>
        </div>
        <div class="legend-item">
            <div class="stick-line orange-line"></div>
            <div>PP</div>
        </div>
        <div class="legend-item">
            <div class="stick-line red-line"></div>
            <div>Error</div>
        </div>
    </div> -->
<!-- <div class="tab-content"> -->
<!-- <div role="tabpanel" class="tab-pane active" id="tab-1"> -->

<div id="button-container"></div>
<div class="model-box col-md-12 padding_0" id="model-container">
    <canvas class="webgl"></canvas>
    <nav class="model">
        <ul class="model">
            <div id="my-gui-container"></div>
        </ul>
    </nav>
    <link rel="stylesheet" href="/static/css/model.css" />
</div>
<!-- </div>
        <div role="tabpanel" class="tab-pane" id="tab-2">
            <div class="model-box col-md-12 padding_0" id="model-container-2a">
                <canvas class="webgl-2a"></canvas>
                <nav class="model-2a">
                    <ul class="model-2a">
                        <div id="my-gui-container-2"></div>
                    </ul>
                </nav>
                <link rel="stylesheet" href="/static/css/model.css" />
                <script
                    type="module"
                    src="/static/js/model_neighs1.js"
                ></script>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-3">
            <div class="model-box col-md-12 padding_0" id="model-container-2b">
                <canvas class="webgl-2b"></canvas>
                <nav class="model-2b">
                    <ul class="model-2b">
                        <div id="my-gui-container-3"></div>
                    </ul>
                </nav>
                <link rel="stylesheet" href="/static/css/model.css" />
                <script
                    type="module"
                    src="/static/js/model_neighs2.js"
                ></script>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}
